@{
    ViewBag.Title = "Nguyễn Văn Vũ";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Ôn tập bài thi giữa kỳ - Cam kết không đạo văn</h3>

    <address>
       K22CNT2 - Môn lập trinh web với công nghệ Asp.net MVC5
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:nguyenvanvu@example.com">nguyenvanvu@example.com</a><br />
        <strong>Cá nhân:</strong> <a href="mailto:nguyenngoc@example.com">nguyenngoc@example.com</a>
    </address>
</main>