USE [NvvK22CNT2Lesson10Db]
GO
/****** Object:  Table [dbo].[nvvKetqua]    Script Date: 6/24/2024 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nvvKetqua](
	[NvvMaSV] [nchar](10) NOT NULL,
	[NvvMaKH] [nvarchar](50) NOT NULL,
	[Diem] [float] NULL,
 CONSTRAINT [PK_nvvKetqua] PRIMARY KEY CLUSTERED 
(
	[NvvMaSV] ASC,
	[NvvMaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nvvKhoa]    Script Date: 6/24/2024 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nvvKhoa](
	[NvvMaKH] [nchar](10) NOT NULL,
	[NvvTenKH] [nvarchar](50) NULL,
 CONSTRAINT [PK_nvvKhoa] PRIMARY KEY CLUSTERED 
(
	[NvvMaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nvvMonHoc]    Script Date: 6/24/2024 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nvvMonHoc](
	[NvvMaKH] [nchar](10) NOT NULL,
	[NvvTenMH] [nvarchar](50) NULL,
	[NvvSotiet] [int] NULL,
 CONSTRAINT [PK_nvvMonHoc] PRIMARY KEY CLUSTERED 
(
	[NvvMaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nvvSinhVien]    Script Date: 6/24/2024 3:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nvvSinhVien](
	[NvvMaSV] [nchar](10) NOT NULL,
	[NvvHoSV] [nvarchar](50) NULL,
	[NvvTenSV] [nvarchar](50) NULL,
	[NvvPhai] [bit] NULL,
	[NvvNgaySinh] [date] NULL,
	[NvvNoiSinh] [nvarchar](50) NULL,
	[NvvMaKH] [nchar](10) NULL,
	[NvvHocBong] [float] NULL,
	[NvvDiemTrungBinh] [float] NULL,
 CONSTRAINT [PK_nvvSinhVien] PRIMARY KEY CLUSTERED 
(
	[NvvMaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[nvvKetqua] ([NvvMaSV], [NvvMaKH], [Diem]) VALUES (N'1224151561', N'ReactJs', 9)
INSERT [dbo].[nvvKetqua] ([NvvMaSV], [NvvMaKH], [Diem]) VALUES (N'2210900081', N'ASP.Net', 9)
GO
INSERT [dbo].[nvvKhoa] ([NvvMaKH], [NvvTenKH]) VALUES (N'K22CNT2   ', N'K22CNT2')
GO
INSERT [dbo].[nvvMonHoc] ([NvvMaKH], [NvvTenMH], [NvvSotiet]) VALUES (N'ASP.Net   ', N'lập trình web', 40)
INSERT [dbo].[nvvMonHoc] ([NvvMaKH], [NvvTenMH], [NvvSotiet]) VALUES (N'ReactJs   ', N'chạy web', 40)
GO
INSERT [dbo].[nvvSinhVien] ([NvvMaSV], [NvvHoSV], [NvvTenSV], [NvvPhai], [NvvNgaySinh], [NvvNoiSinh], [NvvMaKH], [NvvHocBong], [NvvDiemTrungBinh]) VALUES (N'123456789 ', N'Nguyễn Thị', N'Ngọc', 1, CAST(N'2000-04-04' AS Date), N'Lam Ha', N'K20SP1    ', 0, 10)
INSERT [dbo].[nvvSinhVien] ([NvvMaSV], [NvvHoSV], [NvvTenSV], [NvvPhai], [NvvNgaySinh], [NvvNoiSinh], [NvvMaKH], [NvvHocBong], [NvvDiemTrungBinh]) VALUES (N'2210900081', N'Nguyễn Văn ', N'Vũ', 1, CAST(N'2004-04-06' AS Date), N'Ha Tay', N'K22CNT2   ', 0, 9.9)
GO
