
@{
    ViewBag.Title = "Nguyễn Văn Vũ - Index";
}

<h2>Nguyễn Văn Vũ - Index</h2>
<hr />
<h3>Hiển thị dữ liệu từ Action trong Controler</h3>
<h4>FullName: @ViewBag.fullName</h4>
<h4>Nhày sinh :@ViewData["Birthday"]</h4>
<h4>Di động:@TempData["Phone"]</h4>

