@{
    ViewBag.Title = "Nguyễn Văn Vũ";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Bài thi giữa kỳ của Nguyễn Văn Vũ - Cam kết không đạo văn</h3>

    <address>
       K22CNT2 - Môn lập trinh web công nghệ Asp.Net MC5
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:nguyenvanvu@example.com">nguyenvanvu@example.com</a><br />
        <strong>Cá nhân:</strong> <a href="mailto:nguyenthingoc@example.com">nguyenthingoc@example.com</a>
    </address>
</main>